{% extends 'base.html.twig' %}

{% block body %}
    <div class="container jumbotron">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Kenjutsu.org</h1>
            <hr class="my-4">
            <p class="lead">Ce site sera dédié à tous les enfants du kenjutsu : Kendô, Iaido, etc.</p>
        </div>
    </div>
{% endblock %}